*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.navbar{
    padding: 0 20% ;
    .nav{
display: flex;
padding: 20px 0;
align-items: center;
justify-content: space-between;
.lists{
    ul{
        display: flex;
        gap: 20px;
        .aa{
            color: black;
            font-size: 18px;
            font-weight: 700;
            &:hover{
                color: #F532BB;
            }
        }
    }
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    button{
        border: none;
        border-radius: 5px;
        font-size: 15px;
        padding: 10px 15px;
        color: white;
        background-color: green;
        cursor: pointer;
    }
    .bar{
        font-size: 25px;
        display: none;
    }
}
    }
}

.end{
    background-color: #222222;
    color: #878787;
    display: flex;
    padding: 5%;
    justify-content: center;
    align-items: center;
    span{
        
        color: #F532BB;
    }
}

@media screen and (max-width: 1080px) {
    .bar{
        display: block !important;
    }
    ul{ 
        display: none !important;
    }
  }